<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="studentRepository" class="com.higgsup.repository.impl.StudentRepositoryImpl"/>
    <bean name="studentService" class="com.higgsup.service.impl.StudentServiceImpl" autowire="byType">
        <!--<property name="studentRepository" ref="studentRepository"/>-->
        <!--<constructor-arg name="studentRepository" ref="studentRepository"/>-->
    </bean>

    <bean name="school" class="com.higgsup.collection.School">
        <property name="studentCountry" >
            <set value-type="java.lang.String">
                <value>Viet Nam</value>
                <value>USA</value>
                <value>Trung Quoc</value>
            </set>
        </property>
        <property name="studentName" >
            <list value-type="java.lang.String">
                <value>Anhvv</value>
                <value>Cuongla</value>
                <value>Hungnh</value>
                <value>Tuha</value>
            </list>
        </property>
        <property name="studentMap">
            <map>
                <entry key="Viet Nam">
                    <list value-type="java.lang.String">
                        <value>Anhvv</value>
                        <value>Anhvv2</value>
                        <value>Anhvv3</value>
                    </list>
                </entry>
                <entry key="Trung Quoc">
                    <list value-type="java.lang.String">
                        <value>Hungnh</value>
                        <value>Hungnh2</value>
                        <value>Hungnh3</value>
                    </list>
                </entry>
            </map>
        </property>
    </bean>

</beans>