<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<context:component-scan base-package="com.higgsup"/>-->
    <bean name="studentRepository" class="com.higgsup.repository.impl.StudentRepositoryImpl"/>
    <bean name="locationService" class="com.higgsup.service.impl.LocationServiceImpl" autowire="byName">

    </bean>
    <bean name="studentService" class="com.higgsup.service.impl.StudentServiceImpl" autowire="byName">
        <!--<property name="studentRepository" ref="studentRepository"/>-->
        <!--<constructor-arg name="studentRepository" ref="studentRepository"/>-->
    </bean>
    <bean class = "com.higgsup.InitBean" />

</beans>